#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */


}
header {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  background-color: #cc0000;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1.0em;
  overflow:hidden;
}
h1{
  position: relative;
}
#nav-bar a:hover{
  position: right;
  background-color: #ddd;
  color:blue;
}
#nav-bar a:active{
  background-color: white;
  color: white;
}
#nav-bar-right{
  float: right;
}

main{
  background-image: url("app-bg");
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
