
*{
  box-sizing: border-box;
}

/* NEED TO FIX H1, IT IS PUSHING FORM DOWN */
h1{
  background-color: wheat;
  text-align: center;
  padding: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url(images/app-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center center;
  background-color: wheat;
}

.form-container, form {
 display: grid;
 place-items: center;
}

.wrapper{
  width: 400px;
  height: 500px;
  padding: 50px 30px;
  box-shadow: 0 0 1 1rem 0 rgba(0,0,0,.2);
  position: relative;

}

/* transparent background for form */
.wrapper input{
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: transparent;
  outline: none;
  height: 40px;
  color: whitesmoke;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}
.NavBar{
  background-color: wheat;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

/* error message */
p.error-message:active {
  color: var(--blue);
  text-align: center;
  background-color: aqua;

}

/* pseudo-element */


/* form */
form {
border-color: black;
border-radius: 10px;
background-color: black;
opacity: 0.5 ;
border: .1vmin solid var(--tan-3);
font-weight: 800;

}
/* form labels */
label {
  font-size: 5vm;
  font-weight: 100;
  color: antiquewhite;
  display: flex;
  align-items: center;
}

p{
  position: center;
}
/* input fields */
input {
  display: grid;
  place-items: center;
}
/* input focus, change when in input field */
input:focus {
  border-color: var(--blue);
}

/* buttons */
button, a.button {
  margin: 3vmin;
  padding: 2vmin;
  color: var(--white);
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: 10px;
  box-shadow:  -3px -5px 17px 0px rgb(33 0 0);
  outline: none;
  cursor: pointer;
}

/* color change of button when fields are complete and ready to submit */
button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: gray;
}
