/* CSS Custom Properties */
/* Part2: Add CSS to index.css */
:root {
  --white:white;
  --tomato: var(--tomato);
  --black: var(--black);

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d6d6e0;
  background-image: url("body-bg.jpg");
  background-size: cover;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: right;
  background-color: var(--black);
  color: var(--text-dark);
  border: .1vmin solid var(--black);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 5vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tomato);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--black);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.0vmin;

}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 2vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--black);
  border-radius: 1.0vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--black);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--black);
  background-color: var(white);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(white);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(white);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  background-color: red;
}